@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Stack+Sans+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Stack+Sans+Text:wght@200..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    background-color: #0B2027;
    min-height: 100dvh;
    margin: 0;
}

main {
    flex: 1;
    color: white;
    text-align: center;
}

header {
    font-family: 'Nunito', sans-serif;
    height: 75px;
    color: white;
}

#game-holder {
    border: 3px solid #2CF6B3;
    background-color: #2B3A67;
    border-radius: 6px;
    min-height: 400px;
    min-width: 450px;
    margin: 5px;
    text-align: center;
}

#attempts-holder {
    text-align: left;
}

#attempts-text {
    margin: 5px;
    padding-left: 5px;
}

#guess-input {
    width: 40%;
    padding: 7px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Mulish', sans-serif;
}

footer {
    min-width: 100%;
    display: flex;
    gap: 10px;
    background-color: #120309;
    color: grey;
    font-size: 14px;
}

.foot {
    flex-grow: 1;
    padding-right: 20px;
    text-align: right;
}

.foot2 {
    flex-grow: 1;
    padding-left: 20px;
}

.freezing {
    color: darkblue;
}

.cold {
    color: blue;
}

#cool {
    color: cyan;
}

.balmy {
    color: lightgreen;
}

.warm {
    color: orange;
}

.hot {
    color: red;
}

.burning-up {
    color: darkred;
}